USE [QLConCung]
GO
/****** Object:  Table [dbo].[GIAOHANG]    Script Date: 12/28/2021 8:03:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOHANG](
	[MaGiaoHang] [int] NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaNhanVien] [int] NULL,
	[MaKhachHang] [int] NULL,
	[DiaChiGiaoHang] [nvarchar](100) NULL,
	[TenNguoiNhan] [nvarchar](30) NULL,
	[SoDienThoaiNguoiNhan] [char](10) NULL,
	[NgayNhanHang] [date] NULL,
	[NgayXacNhanDatHang] [date] NULL,
 CONSTRAINT [PK_GiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_HD] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[GIAOHANG] CHECK CONSTRAINT [FK_GiaoHang_HD]
GO
ALTER TABLE [dbo].[GIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_KH] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[GIAOHANG] CHECK CONSTRAINT [FK_GiaoHang_KH]
GO
ALTER TABLE [dbo].[GIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_NV] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[GIAOHANG] CHECK CONSTRAINT [FK_GiaoHang_NV]
GO
ALTER TABLE [dbo].[GIAOHANG]  WITH CHECK ADD  CONSTRAINT [NXNDH_Before_NNH] CHECK  (([NgayXacNhanDatHang]<[NgayNhanHang]))
GO
ALTER TABLE [dbo].[GIAOHANG] CHECK CONSTRAINT [NXNDH_Before_NNH]
GO
