USE [QLConCung]
GO
/****** Object:  Table [dbo].[TAIKHOANDANGNHAP]    Script Date: 12/28/2021 8:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANDANGNHAP](
	[TenDangNhap] [varchar](30) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaNhanVien] [int] NULL,
	[MatKhau] [text] NULL,
	[HinhThucDangKy] [nvarchar](20) NULL,
	[LoaiTaiKhoan] [bit] NULL,
 CONSTRAINT [PK_TKDN] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAIKHOANDANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_TK_KH] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TAIKHOANDANGNHAP] CHECK CONSTRAINT [FK_TK_KH]
GO
ALTER TABLE [dbo].[TAIKHOANDANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TAIKHOANDANGNHAP] CHECK CONSTRAINT [FK_TK_NV]
GO
