USE [QLConCung]
GO
/****** Object:  Table [dbo].[UUDAI]    Script Date: 12/28/2021 9:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UUDAI](
	[MaKhachHang] [int] NOT NULL,
	[NamTriAn] [int] NOT NULL,
	[HinhThucTriAn] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UD] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC,
	[NamTriAn] ASC,
	[HinhThucTriAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UUDAI]  WITH CHECK ADD  CONSTRAINT [FK_UD_KH] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[UUDAI] CHECK CONSTRAINT [FK_UD_KH]
GO
ALTER TABLE [dbo].[UUDAI]  WITH CHECK ADD  CONSTRAINT [FK_UD_TAKH] FOREIGN KEY([NamTriAn], [HinhThucTriAn])
REFERENCES [dbo].[TRIANKHACHHANG] ([NamTriAn], [HinhThucTriAn])
GO
ALTER TABLE [dbo].[UUDAI] CHECK CONSTRAINT [FK_UD_TAKH]
GO
